{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": false,
  "singleAttributePerLine": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "// React imports",
    "^(react/(.*)$)|^(react$)",
    "",
    "// Next.js imports",
    "^(next/(.*)$)|^(next$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "// Sanity imports",
    "^(sanity/(.*)$)|^(sanity$)",
    "",
    "@sanity$",
    "",
    "// Library imports",
    "",
    "// Styles",
    "^@/styles/(.*)$",
    "",
    "// Images",
    "^@/images/(.*)$",
    "",
    "// Types",
    "^@/types/(.*)$",
    "",
    "",
    "// Lib",
    "^@/lib/(.*)$",
    "",
    "// Hooks",
    "^@/hooks/(.*)$",
    "",
    "// Public",
    "^@/public/(.*)$",
    "",
    "// Components",
    "^@/components/(.*)$",
    "",
    "// Schema: Loader",
    "^@/sanity/loader/*(.*)$",
    "",
    "// Schema: Lib",
    "^@/sanity/lib/*(.*)$",
    "",
    "// Schema: Plugins",
    "^@/sanity/plugins/*(.*)$",
    "",
    "// Schema: Groups",
    "^@/sanity/schemas/groups/*(.*)$",
    "",
    "// Schema: Singletons",
    "^@/sanity/schemas/singletons/*(.*)$",
    "",
    "// Schema: Documents",
    "^@/sanity/schemas/documents/*(.*)$",
    "",
    "// Schema: Objects",
    "^@/sanity/schemas/objects/*$",
    "",
    "// Schema: Page Sections",
    "^@/sanity/schemas/objects/page-sections/*(.*)$",
    "",
    "^[./]"
  ]
}
